body {
	width: 80%;
	max-width: 1600px;
	margin: 0 auto;
	background: rgba(66, 212, 245, 0.3);
}

/* provide spacing underneath form */
form {
	padding-bottom: 20px;
}

/* styling for the images after rendering  */
img {
	width: 192px;
	height: 192px;
	object-fit: cover;
	padding: 1px;
	float: left;
	position: relative;
}
